<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.Dao.BeoverdueMapper" >


	<insert id="AddBeoverdue" parameterType="com.zhita.Collection.beoverdue.Data">
		INSERT INTO `beoverdue`(
			username,
			phone,
			idNumber,
			userId,
			L7D_714_OVERDUE_PCNT,
			L7D_714_OVERDUE_TOTAMT,
			L7D_714_H1OVERDUE_PCNT,
			L7D_714_H1OVERDUE_TOTAMT,
			L7D_714_MOVERDUE_PCNT,
			L7D_714_MOVERDUE_TOTAMT,
			L7D_ONLINE_OVERDUE_PCNT,
			L7D_ONLINE_OVERDUE_TOTAMT,
			L7D_ONLINE_H1OVERDUE_PCNT,
			L7D_ONLINE_H1OVERDUE_TOTAMT,
			L7D_ONLINE_MOVERDUE_PCNT,
			L7D_ONLINE_MOVERDUE_TOTAMT,
			L7D_CUSTOMER_OVERDUE_PCNT,
			L7D_CUSTOMER_OVERDUE_TOTAMT,
			L7D_CUSTOMER_H1OVERDUE_PCNT,
			L7D_CUSTOMER_H1OVERDUE_TOTAMT,
			L7D_CUSTOMER_MOVERDUE_PCNT,
			L7D_CUSTOMER_MOVERDUE_TOTAMT,
			L7D_BANK_OVERDUE_PCNT,
			L7D_BANK_OVERDUE_TOTAMT,
			L7D_BANK_H1OVERDUE_PCNT,
			L7D_BANK_H1OVERDUE_TOTAMT,
			L7D_BANK_MOVERDUE_PCNT,
			L7D_BANK_MOVERDUE_TOTAMT,
			L7D_TOTORG_OVERDUE_PCNT,
			L7D_TOTORG_OVERDUE_TOTAMT,
			L7D_TOTORG_H1OVERDUE_PCNT,
			L7D_TOTORG_H1OVERDUE_TOTAMT,
			L7D_TOTORG_MOVERDUE_PCNT,
			L7D_TOTORG_MOVERDUE_TOTAMT,
			L30D_714_OVERDUE_PCNT,
			L30D_714_OVERDUE_TOTAMT,
			L30D_714_H1OVERDUE_PCNT,
			L30D_714_H1OVERDUE_TOTAMT,
			L30D_714_MOVERDUE_TOTAMT,
			L30D_ONLINE_OVERDUE_PCNT,
			L30D_ONLINE_OVERDUE_TOTAMT,
			L30D_ONLINE_H1OVERDUE_TOTAMT,
			L30D_ONLINE_MOVERDUE_PCNT,
			L30D_ONLINE_MOVERDUE_TOTAMT,
			L30D_CUSTOMER_OVERDUE_PCNT,
			L30D_CUSTOMER_OVERDUE_TOTAMT,
			L30D_CUSTOMER_H1OVERDUE_PCNT,
			L30D_CUSTOMER_H1OVERDUE_TOTAMT,
			L30D_CUSTOMER_MOVERDUE_PCNT,
			L30D_CUSTOMER_MOVERDUE_TOTAMT,
			L30D_BANK_OVERDUE_PCNT,
			L30D_BANK_OVERDUE_TOTAMT,
			L30D_BANK_H1OVERDUE_PCNT,
			L30D_BANK_H1OVERDUE_TOTAMT,
			L30D_BANK_MOVERDUE_PCNT,
			L30D_BANK_MOVERDUE_TOTAMT,
			L30D_TOTORG_OVERDUE_PCNT,
			L30D_TOTORG_OVERDUE_TOTAMT,
			L30D_TOTORG_H1OVERDUE_PCNT,
			L30D_TOTORG_H1OVERDUE_TOTAMT,
			L30D_TOTORG_MOVERDUE_PCNT,
			L30D_TOTORG_MOVERDUE_TOTAMT,
			L3M_714_OVERDUE_PCNT,
			L3M_714_OVERDUE_TOTAMT,
			L3M_714_H1OVERDUE_PCNT,
			L3M_714_H1OVERDUE_TOTAMT,
			L3M_714_MOVERDUE_PCNT,
			L3M_714_MOVERDUE_TOTAMT,
			L3M_ONLINE_OVERDUE_PCNT,
			L3M_ONLINE_OVERDUE_TOTAMT,
			L3M_ONLINE_H1OVERDUE_PCNT,
			L3M_ONLINE_H1OVERDUE_TOTAMT,
			L3M_ONLINE_MOVERDUE_PCNT,
			L3M_ONLINE_MOVERDUE_TOTAMT,
			L3M_CUSTOMER_OVERDUE_PCNT,
			L3M_CUSTOMER_OVERDUE_TOTAMT,
			L3M_CUSTOMER_H1OVERDUE_PCNT,
			L3M_CUSTOMER_H1OVERDUE_TOTAMT,
			L3M_CUSTOMER_MOVERDUE_PCNT,
			L3M_CUSTOMER_MOVERDUE_TOTAMT,
			L3M_BANK_OVERDUE_PCNT,
			L3M_BANK_OVERDUE_TOTAMT,
			L3M_BANK_H1OVERDUE_PCNT,
			L3M_BANK_H1OVERDUE_TOTAMT,
			L3M_BANK_MOVERDUE_PCNT,
			L3M_BANK_MOVERDUE_TOTAMT,
			L3M_TOTORG_OVERDUE_PCNT,
			L3M_TOTORG_OVERDUE_TOTAMT,
			L3M_TOTORG_H1OVERDUE_PCNT,
			L3M_TOTORG_H1OVERDUE_TOTAMT,
			L3M_TOTORG_MOVERDUE_PCNT,
			L3M_TOTORG_MOVERDUE_TOTAMT,
			send_time
		)VALUES(
			#{username},
			#{phone},
			#{idNumber},
			#{userId},
			#{L7D_714_OVERDUE_PCNT},
			#{L7D_714_OVERDUE_TOTAMT},
			#{L7D_714_H1OVERDUE_PCNT},
			#{L7D_714_H1OVERDUE_TOTAMT},
			#{L7D_714_MOVERDUE_PCNT},
			#{L7D_714_MOVERDUE_TOTAMT},
			#{L7D_ONLINE_OVERDUE_PCNT},
			#{L7D_ONLINE_OVERDUE_TOTAMT},
			#{L7D_ONLINE_H1OVERDUE_PCNT},
			#{L7D_ONLINE_H1OVERDUE_TOTAMT},
			#{L7D_ONLINE_MOVERDUE_PCNT},
			#{L7D_ONLINE_MOVERDUE_TOTAMT},
			#{L7D_CUSTOMER_OVERDUE_PCNT},
			#{L7D_CUSTOMER_OVERDUE_TOTAMT},
			#{L7D_CUSTOMER_H1OVERDUE_PCNT},
			#{L7D_CUSTOMER_H1OVERDUE_TOTAMT},
			#{L7D_CUSTOMER_MOVERDUE_PCNT},
			#{L7D_CUSTOMER_MOVERDUE_TOTAMT},
			#{L7D_BANK_OVERDUE_PCNT},
			#{L7D_BANK_OVERDUE_TOTAMT},
			#{L7D_BANK_H1OVERDUE_PCNT},
			#{L7D_BANK_H1OVERDUE_TOTAMT},
			#{L7D_BANK_MOVERDUE_PCNT},
			#{L7D_BANK_MOVERDUE_TOTAMT},
			#{L7D_TOTORG_OVERDUE_PCNT},
			#{L7D_TOTORG_OVERDUE_TOTAMT},
			#{L7D_TOTORG_H1OVERDUE_PCNT},
			#{L7D_TOTORG_H1OVERDUE_TOTAMT},
			#{L7D_TOTORG_MOVERDUE_PCNT},
			#{L7D_TOTORG_MOVERDUE_TOTAMT},
			#{L30D_714_OVERDUE_PCNT},
			#{L30D_714_OVERDUE_TOTAMT},
			#{L30D_714_H1OVERDUE_PCNT},
			#{L30D_714_H1OVERDUE_TOTAMT},
			#{L30D_714_MOVERDUE_TOTAMT},
			#{L30D_ONLINE_OVERDUE_PCNT},
			#{L30D_ONLINE_OVERDUE_TOTAMT},
			#{L30D_ONLINE_H1OVERDUE_TOTAMT},
			#{L30D_ONLINE_MOVERDUE_PCNT},
			#{L30D_ONLINE_MOVERDUE_TOTAMT},
			#{L30D_CUSTOMER_OVERDUE_PCNT},
			#{L30D_CUSTOMER_OVERDUE_TOTAMT},
			#{L30D_CUSTOMER_H1OVERDUE_PCNT},
			#{L30D_CUSTOMER_H1OVERDUE_TOTAMT},
			#{L30D_CUSTOMER_MOVERDUE_PCNT},
			#{L30D_CUSTOMER_MOVERDUE_TOTAMT},
			#{L30D_BANK_OVERDUE_PCNT},
			#{L30D_BANK_OVERDUE_TOTAMT},
			#{L30D_BANK_H1OVERDUE_PCNT},
			#{L30D_BANK_H1OVERDUE_TOTAMT},
			#{L30D_BANK_MOVERDUE_PCNT},
			#{L30D_BANK_MOVERDUE_TOTAMT},
			#{L30D_TOTORG_OVERDUE_PCNT},
			#{L30D_TOTORG_OVERDUE_TOTAMT},
			#{L30D_TOTORG_H1OVERDUE_PCNT},
			#{L30D_TOTORG_H1OVERDUE_TOTAMT},
			#{L30D_TOTORG_MOVERDUE_PCNT},
			#{L30D_TOTORG_MOVERDUE_TOTAMT},
			#{L3M_714_OVERDUE_PCNT},
			#{L3M_714_OVERDUE_TOTAMT},
			#{L3M_714_H1OVERDUE_PCNT},
			#{L3M_714_H1OVERDUE_TOTAMT},
			#{L3M_714_MOVERDUE_PCNT},
			#{L3M_714_MOVERDUE_TOTAMT},
			#{L3M_ONLINE_OVERDUE_PCNT},
			#{L3M_ONLINE_OVERDUE_TOTAMT},
			#{L3M_ONLINE_H1OVERDUE_PCNT},
			#{L3M_ONLINE_H1OVERDUE_TOTAMT},
			#{L3M_ONLINE_MOVERDUE_PCNT},
			#{L3M_ONLINE_MOVERDUE_TOTAMT},
			#{L3M_CUSTOMER_OVERDUE_PCNT},
			#{L3M_CUSTOMER_OVERDUE_TOTAMT},
			#{L3M_CUSTOMER_H1OVERDUE_PCNT},
			#{L3M_CUSTOMER_H1OVERDUE_TOTAMT},
			#{L3M_CUSTOMER_MOVERDUE_PCNT},
			#{L3M_CUSTOMER_MOVERDUE_TOTAMT},
			#{L3M_BANK_OVERDUE_PCNT},
			#{L3M_BANK_OVERDUE_TOTAMT},
			#{L3M_BANK_H1OVERDUE_PCNT},
			#{L3M_BANK_H1OVERDUE_TOTAMT},
			#{L3M_BANK_MOVERDUE_PCNT},
			#{L3M_BANK_MOVERDUE_TOTAMT},
			#{L3M_TOTORG_OVERDUE_PCNT},
			#{L3M_TOTORG_OVERDUE_TOTAMT},
			#{L3M_TOTORG_H1OVERDUE_PCNT},
			#{L3M_TOTORG_H1OVERDUE_TOTAMT},
			#{L3M_TOTORG_MOVERDUE_PCNT},
			#{L3M_TOTORG_MOVERDUE_TOTAMT},
			#{send_time}
		)
	</insert>
	
		

</mapper>