<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.Dao.BillInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zhita.Model.BillInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="xiaodai_userid" property="xiaodaiUserid" jdbcType="INTEGER" />
    <result column="month" property="month" jdbcType="VARCHAR" />
    <result column="consumption_amount" property="consumptionAmount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, xiaodai_userid, month, consumption_amount
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bill_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bill_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhita.Model.BillInfo" >
    insert into bill_info (id, xiaodai_userid, month, 
      consumption_amount)
    values (#{id,jdbcType=INTEGER}, #{xiaodaiUserid,jdbcType=INTEGER}, #{month,jdbcType=VARCHAR}, 
      #{consumptionAmount,jdbcType=DECIMAL})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zhita.Model.BillInfo" >
    update bill_info
    set xiaodai_userid = #{xiaodaiUserid,jdbcType=INTEGER},
      month = #{month,jdbcType=VARCHAR},
      consumption_amount = #{consumptionAmount,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 列表查询    消费记录-->
  <select id="queryAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from bill_info
    where xiaodai_userid=#{arg0} order by month desc
  </select>
  
  
   <insert id="setBillInfo" parameterType="java.util.Map"> 
 insert into bill_info (xiaodai_userid,consumption_amount,month)
 values(#{userId},
        #{consumption_amount},
        #{month})
 </insert>
</mapper>