<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.Dao.CallRecordListInfosMapper" >
  <resultMap id="BaseResultMap" type="com.zhita.Model.CallRecordListInfos" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sentivid" property="sentivid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sentivid, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from call_record_list_infos
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from call_record_list_infos
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhita.Model.CallRecordListInfos" >
    insert into call_record_list_infos (id, sentivid, name
      )
    values (#{id,jdbcType=INTEGER}, #{sentivid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zhita.Model.CallRecordListInfos" >
    update call_record_list_infos
    set sentivid = #{sentivid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>