<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.Dao.CommunicationDetectionMapper" >
  <resultMap id="BaseResultMap" type="com.zhita.Model.CommunicationDetection" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="xiaodai_userid" property="xiaodaiUserid" jdbcType="INTEGER" />
    <result column="the_last_call_time" property="theLastCallTime" jdbcType="VARCHAR" />
    <result column="silent_count" property="silentCount" jdbcType="INTEGER" />
    <result column="silent_duration_time" property="silentDurationTime" jdbcType="VARCHAR" />
    <result column="average_silent_duration_time" property="averageSilentDurationTime" jdbcType="VARCHAR" />
    <result column="the_last_silent_duration_time" property="theLastSilentDurationTime" jdbcType="VARCHAR" />
    <result column="night_activities" property="nightActivities" jdbcType="DECIMAL" />
    <result column="long_silent_time" property="longSilentTime" jdbcType="VARCHAR" />
    <result column="long_silent_duration_time" property="longSilentDurationTime" jdbcType="VARCHAR" />
    <result column="the_long_silent_duration_time" property="theLongSilentDurationTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, xiaodai_userid, the_last_call_time, silent_count, silent_duration_time, average_silent_duration_time, 
    the_last_silent_duration_time, night_activities, long_silent_time, long_silent_duration_time, 
    the_long_silent_duration_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from communication_detection
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from communication_detection
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhita.Model.CommunicationDetection" >
    insert into communication_detection (id, xiaodai_userid, the_last_call_time, 
      silent_count, silent_duration_time, average_silent_duration_time, 
      the_last_silent_duration_time, night_activities, 
      long_silent_time, long_silent_duration_time, 
      the_long_silent_duration_time)
    values (#{id,jdbcType=INTEGER}, #{xiaodaiUserid,jdbcType=INTEGER}, #{theLastCallTime,jdbcType=VARCHAR}, 
      #{silentCount,jdbcType=INTEGER}, #{silentDurationTime,jdbcType=VARCHAR}, #{averageSilentDurationTime,jdbcType=VARCHAR}, 
      #{theLastSilentDurationTime,jdbcType=VARCHAR}, #{nightActivities,jdbcType=DECIMAL}, 
      #{longSilentTime,jdbcType=VARCHAR}, #{longSilentDurationTime,jdbcType=VARCHAR}, 
      #{theLongSilentDurationTime,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zhita.Model.CommunicationDetection" >
    update communication_detection
    set xiaodai_userid = #{xiaodaiUserid,jdbcType=INTEGER},
      the_last_call_time = #{theLastCallTime,jdbcType=VARCHAR},
      silent_count = #{silentCount,jdbcType=INTEGER},
      silent_duration_time = #{silentDurationTime,jdbcType=VARCHAR},
      average_silent_duration_time = #{averageSilentDurationTime,jdbcType=VARCHAR},
      the_last_silent_duration_time = #{theLastSilentDurationTime,jdbcType=VARCHAR},
      night_activities = #{nightActivities,jdbcType=DECIMAL},
      long_silent_time = #{longSilentTime,jdbcType=VARCHAR},
      long_silent_duration_time = #{longSilentDurationTime,jdbcType=VARCHAR},
      the_long_silent_duration_time = #{theLongSilentDurationTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--列表查询        通信检测  -->
  <select id="queryAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from communication_detection
    where xiaodai_userid=#{arg0}
  </select>
  
  
       <insert id="setcommunicationDetection" parameterType="java.util.Map"> 
 insert into communication_detection (xiaodai_userid,the_last_call_time,silent_count,silent_duration_time,average_silent_duration_time,the_last_silent_duration_time,night_activities,long_silent_time,long_silent_duration_time,the_long_silent_duration_time)
 values(#{userId},
        #{the_last_call_time},
        #{silent_count},
        #{silent_duration_time},
        #{average_silent_duration_time},
        #{the_last_silent_duration_time},
        #{night_activities},
        #{long_silent_time},
        #{long_silent_duration_time},
        #{the_long_silent_duration_time})
 </insert>
  
</mapper>