<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.Dao.FractionMapper" >

	<select id="AppCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select count(id) from userapp where userId = #{userId}
	</select>
	
	
	<select id="FractionUser" parameterType="java.lang.Integer" resultType="com.zhita.Model.Rulelist">
		select * from rulelist where id = #{id}
	</select>
	
	
	<select id="Emergency_contact_infoPhone" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select count(id) from emergency_contact_info where xiaodai_userid = #{xiaodai_userid} and left(phone_number,3) = "400" 
	</select>
	
		
	<select id="IpPhone" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(id) from configuration where wifiIP =  (select wifiIP from configuration where phone = #{phone} )
	</select>
	
	
	<select id="PhoneCount" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
		select count(id) from user 
		<where>
			<if test="phone != null and phone != ''">
				and phone = #{phone} 
			</if>
			<if test="statu_time != null and statu_time != '' and end_time != '' and end_time != null">
				and authentication_time between #{statu_time} and #{end_time}
			</if>
			<if test="idnumber != null and idnumber != ''">
				and idnumber = #{idnumber}
			</if>
		</where>
	</select>
  
  
  	<select id="UserPhoneCount" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select count(id) from maillist 
			<where>
				userId = #{userId} 
				<if test="phone != null and phone != ''">
					and left(phone,3) = #{phone} 
				</if> 
				<if test="name != null and name != ''">
					and `name` LIKE  "%"#{name}"%"
				</if>
			</where>
  	</select>
  	
  	
  	<insert id="AddUser" parameterType="com.zhita.Model.User">
  		INSERT INTO `user`(
  			userId,
  			idnumber,
  			username,
  			phone,
  			authentication_time,
  			fraction,
  			appId
  		)VALUES(
  		#{userId},#{idnumber},#{username},#{phone},#{authentication_time},#{fraction},#{appId}
  		)
  	</insert>
  	
  	
  	<select id="UserZuc" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select count(id) from user where phone = (select phone_number from emergency_contact_info where xiaodai_userid = #{userId})
  	</select>
  	
  	
  	<select id="UserAppnum" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select count(id) from userapp
  		<where>
  			userId = #{userId}
  			<if test="name != null and name != ''">
  				and name LIKE  "%"#{name}"%"
  			</if>
  		</where>
  	</select>
  	
  	
  	<select id="getId" parameterType="java.lang.String" resultType="java.lang.Integer">
  		select max(id) from user where phone = #{phone}
  	</select>
  	
  	
  	<select id="UserAppCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select count(id) from userapp where `name` LIKE  "%"#{name}"%"
  	</select>
  	
  	
  	<insert id="AddUserCount" useGeneratedKeys="true" keyProperty="id" parameterType="com.zhita.Model.Rulelist_detail">
  		INSERT INTO `rulelist_detail` (
  			rtid,
  			rid,
  			value_at_risk,
  			userid,
  			authentication_time,
  			usum
  		)values(#{rtid},#{rid},#{value_at_risk},#{userid},#{authentication_time},#{usum})
  	</insert>
  	
  	
  	<select id="SelectUserPhone" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select count(u.id) from maillist ma,user u where ma.phone = u.phone and ma.userId = #{userId}
  	</select>
  	
  	
  	<select id="PayUserNum" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select count(name)  from maillist where userId = #{userId} group by name having count(name) > 1
  	</select>
  	
  	
  	<select id="PhoneNum" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select count(phone)  from maillist where userId = #{userId} group by phone having count(phone) > 1
  	</select>
  	
  	
  	<select id="jjPhoneNum" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select count(name)  from emergency_contact_info where xiaodai_userid = #{userId} group by name having count(name) > 1
  	</select>
  	
  	
  	<select id="PhoneNumA" parameterType="com.zhita.Model.User" resultType="java.lang.Integer" >
  		 SELECT left(phone,#{id}),COUNT(1) AS RepeatData FROM maillist WHERE userId = #{userId} Group by left(phone,#{id}) having COUNT(1)>1
  	</select>
  	
  	
  	<select id="ReportNum" parameterType="com.zhita.Model.User" resultType="com.zhita.Model.User">
  		select max(id) as id,score from report_info where xiaodai_userid = #{userId}
  	</select>
  	
  	
  	<select id="ReportID" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select max(id) from report_info where xiaodai_userid = #{userId}
  	</select>
  	
  	
  	<select id="AppInFoUser" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select max(id) from operator_info 
  		<where>
  			<if test="phone != null and phone != ''">
  				phone_number = #{phone}
  			</if>
  			<if test="idnumber != null and idnumber != ''">
  				AND idcard = #{idnumber}
  			</if>
  			<if test="name != null and name != ''">
  				AND name = #{name}
  			</if>
  		</where> 
  	</select>
  	
  	
  	<select id="MacNum" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select count(id) from configuration where phone = #{phone} group by wifiMac
  		having count(wifiMac) > 1 limit 0,1
  	</select>
  	
  	
  	<select id="PhoneUserNum" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select count(id) from maillist where userId = #{userId}
  	</select>
  	
  	
  	<delete id="DeleteRule" parameterType="java.util.Map">
  		delete from rulelist_detail where userid  = #{userid} and authentication_time =#{authentication_time}
  	</delete>
  	
  	
  	<select id="PhoneUserMoney" parameterType="java.lang.Integer" resultType="java.lang.String">
  		select available_amount from operator_info where xiaodai_userid = #{userId}
  	</select>
  	
  	
  	<select id="SmsUserNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		SELECT c.sms_count FROM communication_month_info c where xiaodai_userid = #{userId} ORDER BY c.month DESC limit 0,1
  	</select>
  	
  	
  	
  	<select id="MonthUserphone" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select count(id) from top10_call_count where xiaodai_userid = #{userId}
  	</select>
  	
  	
  	<select id="UserNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select count(id) from maillist where userId = #{userId}
  	</select>
  	
  	
  	<select id="WifiNamenum" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select id from configuration where wifiName like CONCAT('%',#{name},'%') and phone = #{phone}
  	</select>
  	
  	
  	<select id="UserloginTime" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select id from configuration where phone = #{phone} and send_time between #{statu_time} and #{end_time}
  	</select>
  	
  	
  	<select id="Userpt" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select COUNT(u.id) from user u,maillist m where m.phone = u.phone and u.id=#{userId}
  	</select>
  	
  	
  	<select id="Userappt" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select count(id) from userapp  
  		<where>
  			userId = #{userId}
  			<if test="name != null and name != ''">
  				and name like CONCAT('%',#{name},'%') 
  			</if>
  		</where>
  	</select>
  	
  	
  	<select id="IdNumberUserCount" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select count(id) from user where idnumber = #{idnumber} and phone not like #{phone}
  	</select>
  	
  	
  	
  	<select id="Userjm" parameterType="java.lang.Integer" resultType="com.zhita.Model.CommunicationDetection">
  		select silent_count as silentCount,silent_duration_time as silentDurationTime from communication_detection where xiaodai_userid = #{id}
  	</select>
  	
  	
  	
  	<select id="Usercommun" parameterType="java.lang.Integer" resultType="com.zhita.Model.CommunicationCityInfo">
  		select calling_count_per as callingCountPer ,called_count_per as calledCountPer from contacts_city_infos 
  		where xiaodai_userid = #{xiaodai_userid} ORDER BY id LIMIT 0,1
  	</select>
  	
  	
  	
  	
  	<select id="UserCallCount" parameterType="java.lang.String" resultType="com.zhita.Model.CallRecordListItemInfosTwo">
  		select * from call_record_list_item_infos_two where phone = #{phone}
  	</select>
  	
  	
  	
  	<select id="PhoneCa" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select count(id) from top10_call_time where xiaodai_userid = #{xiaodai_userid} and left(phone_number,3) = "400" 
	</select>
  	
  	
  	
  	<select id="JjUserNum" parameterType="java.lang.Integer" resultType="com.zhita.Model.EmergencyContactInfo">
  		select * from emergency_contact_info where xiaodai_userid = #{xiaodai_userid}
  	</select>
  	
  	
  	
  	<select id="TopUser" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select max(m.id) from maillist m,top10_call_count t where right(m.phone,4) = right(t.phone_number,4) and m.userid = #{userId}
  		and m.userid = t.xiaodai_userid GROUP BY m.id
  	</select>
  	
  	
  	
  	<select id="TopTime" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select max(m.id) from maillist m,top10_call_time t where right(m.phone,4) = right(t.phone_number,4) and m.userid = #{userId}
  		and m.userid = t.xiaodai_userid GROUP BY m.id
  	</select>
  	
  	
  	
  	<select id="TopCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select max(m.id) from maillist m,top10_call_count t where userid = #{userId} and m.userid = t.xiaodai_userid GROUP BY m.id
  	</select>
  	
  	
  	
  	<select id="UserAge" parameterType="java.lang.String" resultType="java.lang.Integer">
  		select age from applier_info where phone_number = #{phone}
  	</select>
  	
  	
  	
  	<select id="TopJjCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select max(t.id) from emergency_contact_info m INNER JOIN top10_call_time t on m.xiaodai_userid = t.xiaodai_userid 
  		<where>
  		<if test="list!=null and list!='' and list.size()>0">
	  		t.phone_number in
	  		 <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
	  		 #{item}
	         </foreach>
         </if>
  		and m.xiaodai_userid = #{userId} 
  		</where>
  		GROUP BY m.id
  	</select>
  	
  	
  	
  	<select id="UserPhoneMoney" parameterType="java.lang.Integer" resultType="com.zhita.Model.RechargeInfo">
  		select * from recharge_info where xiaodai_userid = #{userId}
  	</select>
  	
  	
  	
  	<select id="MinJUser" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select count(se.id) from call_record_list_infos cal,sensitive_info_newupa se where se.xiaodai_userid =
  		 #{userId} and cal.name LIKE  "%"#{name}"%"
  	</select>
  	
  	
  	<select id="SelectUserPhones" parameterType="java.lang.Integer" resultType="java.lang.String">
  		select phone_number from emergency_contact_info where xiaodai_userid = #{userId}
  	</select>
  	
  	
  	
  	<select id="TongHUser" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select call_count from communication_time_bucket_info where xiaodai_userid = #{userId} and time_bucket = "0:00-3:00" limit 0,1
  	</select>
  	
  	
  	
  	<select id="ChuxTimeDay" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select sum(duration_days) from travel_info where xiaodai_userid = #{userId}
  	</select>
  	
</mapper>