<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.Dao.FractionMapper" >

<resultMap id="BaseResultMap" type="com.zhita.Model.SensitiveInfoNewupa" >
    <id column="id" property="id" jdbcType="INTEGER" />
     <result column="xiaodai_userid" property="xiaodaiUserid" jdbcType="INTEGER" />
    <result column="check_result" property="checkResult" jdbcType="VARCHAR" />
    <result column="item_id" property="itemId" jdbcType="VARCHAR" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="risk_level" property="riskLevel" jdbcType="VARCHAR" />
    <result column="idcard_matching" property="idcardMatching" jdbcType="VARCHAR" />
    <result column="name_matching" property="nameMatching" jdbcType="VARCHAR" />
    <result column="network_length_check" property="networkLengthCheck" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="result" property="result" jdbcType="VARCHAR" />
    <collection property="listc"  ofType="com.zhita.Model.CallRecordListInfos" column="id">
        <id column="id1" property="id"  jdbcType="INTEGER"/>
        <result  column="sentivid"  property="sentivid" jdbcType="INTEGER"/>
		<result  column="name"  property="name" jdbcType="VARCHAR"/>
		<collection property="listct"  ofType="com.zhita.Model.CallRecordListItemInfosTwo" column="id">
        	<id column="id2" property="id"  jdbcType="INTEGER"/>
        	<result  column="crlid"  property="crlid" jdbcType="INTEGER"/>
        	<result  column="called_count"  property="calledCount" jdbcType="VARCHAR"/>
			<result  column="calling_count"  property="callingCount" jdbcType="VARCHAR"/>
			<result  column="phonenumber"  property="phoneNumber" jdbcType="VARCHAR"/>
			<collection property="listcs"  ofType="com.zhita.Model.CallStatistics" column="id">
        		<id column="id3" property="id"  jdbcType="INTEGER"/>
        		<result  column="crtwoid"  property="crtwoid" jdbcType="INTEGER"/>
        		<result  column="total_call_count"  property="totalCallCount" jdbcType="INTEGER"/>
				<result  column="total_call_duration_time"  property="totalCallDurationTime" jdbcType="INTEGER"/>
    		</collection>
    	</collection>
    </collection>
  </resultMap>

	<select id="AppCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select count(id) from userapp where userId = #{userId}
	</select>
	
	
	<select id="FractionUser" parameterType="java.lang.Integer" resultType="com.zhita.Model.Rulelist">
		select * from rulelist where id = #{id}
	</select>
	
	
	<select id="Emergency_contact_infoPhone" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select count(id) from emergency_contact_info where xiaodai_userid = #{xiaodai_userid} and left(phone_number,3) = "400" 
	</select>
	
		
	<select id="IpPhone" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(id) from configuration where wifiIP =  (select wifiIP from configuration where phone = #{phone} )
	</select>
	
	
	<select id="PhoneCount" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
		select count(id) from user 
		<where>
			<if test="phone != null and phone != ''">
				and phone = #{phone} 
			</if>
			<if test="statu_time != null and statu_time != '' and end_time != '' and end_time != null">
				and authentication_time between #{statu_time} and #{end_time}
			</if>
			<if test="idnumber != null and idnumber != ''">
				and idnumber = #{idnumber}
			</if>
		</where>
	</select>
  
  
  	<select id="UserPhoneCount" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select count(id) from maillist 
			<where>
				userId = #{userId} 
				<if test="phone != null and phone != ''">
					and left(phone,3) = #{phone} 
				</if> 
				<if test="name != null and name != ''">
					and `name` like CONCAT('%',#{name},'%')
				</if>
			</where>
  	</select>
  	
  	
  	<insert id="AddUser" parameterType="com.zhita.Model.User">
  		INSERT INTO `user`(
  			userId,
  			idnumber,
  			username,
  			phone,
  			authentication_time,
  			fraction,
  			appId
  		)VALUES(
  		#{userId},#{idnumber},#{username},#{phone},#{authentication_time},#{fraction},#{appId}
  		)
  	</insert>
  	
  	
  	<select id="UserZuc" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select count(id) from user where phone = (select phone_number from emergency_contact_info where xiaodai_userid = #{userId})
  	</select>
  	
  	
  	<select id="UserAppnum" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select count(id) from userapp
  		<where>
  			userId = #{userId}
  			<if test="name != null and name != ''">
  				and name like CONCAT('%',#{name},'%')
  			</if>
  		</where>
  	</select>
  	
  	
  	<select id="getId" parameterType="java.lang.String" resultType="java.lang.Integer">
  		select max(id) from user where phone = #{phone}
  	</select>
  	
  	
  	<select id="UserAppCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select count(id) from userapp where `name` like CONCAT('%',#{name},'%')
  	</select>
  	
  	
  	<insert id="AddUserCount" useGeneratedKeys="true" keyProperty="id" parameterType="com.zhita.Model.Rulelist_detail">
  		INSERT INTO `rulelist_detail` (
  			rtid,
  			rid,
  			value_at_risk,
  			userid,
  			authentication_time,
  			usum
  		)values(#{rtid},#{rid},#{value_at_risk},#{userid},#{authentication_time},#{usum})
  	</insert>
  	
  	
  	<select id="SelectUserPhone" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select count(u.id) from maillist ma,user u where ma.phone = u.phone and ma.userId = #{userId}
  	</select>
  	
  	
  	<select id="PayUserNum" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select count(name)  from maillist where userId = #{userId} group by name having count(name) > 1
  	</select>
  	
  	
  	<select id="PhoneNum" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select count(phone)  from maillist where userId = #{userId} group by phone having count(phone) > 1
  	</select>
  	
  	
  	<select id="jjPhoneNum" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select count(name)  from emergency_contact_info where xiaodai_userid = #{userId} group by name having count(name) > 1
  	</select>
  	
  	
  	<select id="PhoneNumA" parameterType="com.zhita.Model.User" resultType="java.lang.Integer" >
  		 SELECT left(phone,#{id}),COUNT(1) AS RepeatData FROM maillist WHERE userId = #{userId} Group by left(phone,#{id}) having COUNT(1)>1
  	</select>
  	
  	
  	<select id="ReportNum" parameterType="com.zhita.Model.User" resultType="com.zhita.Model.User">
  		select max(id) as id,score from report_info where xiaodai_userid = #{userId}
  	</select>
  	
  	
  	<select id="ReportID" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select max(id) from operator_info where xiaodai_userid = #{userId}
  	</select>
  	
  	
  	<select id="AppInFoUser" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select max(id) from operator_info 
  		<where>
  			<if test="phone != null and phone != ''">
  				phone_number = #{phone}
  			</if>
  			<if test="idnumber != null and idnumber != ''">
  				AND idcard = #{idnumber}
  			</if>
  			<if test="name != null and name != ''">
  				AND name = #{name}
  			</if>
  		</where> 
  	</select>
  	
  	
  	<select id="MacNum" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select count(id) from configuration where phone = #{phone} group by wifiMac
  		having count(wifiMac) > 1 limit 0,1
  	</select>
  	
  	
  	<select id="PhoneUserNum" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select count(id) from maillist where userId = #{userId}
  	</select>
  	
  	
  	<delete id="DeleteRule" parameterType="java.util.Map">
  		delete from rulelist_detail where userid  = #{userid} and authentication_time =#{authentication_time}
  	</delete>
  	
  	
  	<select id="PhoneUserMoney" parameterType="java.lang.Integer" resultType="java.lang.String">
  		select available_amount from operator_info where xiaodai_userid = #{userId}
  	</select>
  	
  	
  	<select id="SmsUserNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		SELECT c.sms_count FROM communication_month_info c where xiaodai_userid = #{userId} ORDER BY c.month DESC limit 0,1
  	</select>
  	
  	
  	
  	<select id="MonthUserphone" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select count(id) from top10_call_count where xiaodai_userid = #{userId}
  	</select>
  	
  	
  	<select id="UserNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select count(id) from maillist where userId = #{userId}
  	</select>
  	
  	
  	<select id="WifiNamenum" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select id from configuration where wifiName like CONCAT('%',#{name},'%') and phone = #{phone}
  	</select>
  	
  	
  	<select id="UserloginTime" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select id from configuration where phone = #{phone} and send_time between #{statu_time} and #{end_time}
  	</select>
  	
  	
  	<select id="Userpt" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select COUNT(u.id) from user u,maillist m where m.phone = u.phone and u.id=#{userId}
  	</select>
  	
  	
  	<select id="Userappt" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select count(id) from userapp  
  		<where>
  			userId = #{userId}
  			<if test="name != null and name != ''">
  				and name like CONCAT('%',#{name},'%') 
  			</if>
  		</where>
  	</select>
  	
  	
  	<select id="IdNumberUserCount" parameterType="com.zhita.Model.User" resultType="java.lang.Integer">
  		select count(id) from user where idnumber = #{idnumber} and phone not like #{phone}
  	</select>
  	
  	
  	
  	<select id="Userjm" parameterType="java.lang.Integer" resultType="com.zhita.Model.CommunicationDetection">
  		select silent_count as silentCount,silent_duration_time as silentDurationTime from communication_detection where xiaodai_userid = #{id}
  	</select>
  	
  	
  	
  	<select id="Usercommun" parameterType="java.lang.Integer" resultType="com.zhita.Model.CommunicationCityInfo">
  		select calling_count_per as callingCountPer ,called_count_per as calledCountPer from contacts_city_infos 
  		where xiaodai_userid = #{xiaodai_userid} ORDER BY id LIMIT 0,1
  	</select>
  	
  	
  	
  	
  	<select id="UserCallCount" parameterType="java.lang.String" resultType="com.zhita.Model.CallRecordListItemInfosTwo">
  		select * from call_record_list_item_infos_two where phone = #{phone}
  	</select>
  	
  	
  	
  	<select id="PhoneCa" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select count(id) from top10_call_time where xiaodai_userid = #{xiaodai_userid} and left(phone_number,3) = "400" 
	</select>
  	
  	
  	
  	<select id="JjUserNum" parameterType="java.lang.Integer" resultType="com.zhita.Model.EmergencyContactInfo">
  		select * from emergency_contact_info where xiaodai_userid = #{xiaodai_userid}
  	</select>
  	
  	
  	
  	<select id="TopUser" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select max(m.id) from maillist m,top10_call_count t where right(m.phone,4) = right(t.phone_number,4) and m.userid = #{userId}
  		and m.userid = t.xiaodai_userid GROUP BY m.id
  	</select>
  	
  	
  	
  	<select id="TopTime" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select max(m.id) from maillist m,top10_call_time t where right(m.phone,4) = right(t.phone_number,4) and m.userid = #{userId}
  		and m.userid = t.xiaodai_userid GROUP BY m.id
  	</select>
  	
  	
  	
  	<select id="TopCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select max(m.id) from maillist m,top10_call_count t where userid = #{userId} and m.userid = t.xiaodai_userid GROUP BY m.id
  	</select>
  	
  	
  	
  	<select id="UserAge" parameterType="java.lang.String" resultType="java.lang.Integer">
  		select age from applier_info where phone_number = #{phone}
  	</select>
  	
  	
  	
  	<select id="TopJjCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select max(t.id) from emergency_contact_info m INNER JOIN top10_call_time t on m.xiaodai_userid = t.xiaodai_userid 
  		<where>
  		<if test="list!=null and list!='' and list.size()>0">
	  		t.phone_number in
	  		 <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
	  		 #{item}
	         </foreach>
         </if>
  		and m.xiaodai_userid = #{userId} 
  		</where>
  		GROUP BY m.id
  	</select>
  	
  	
  	
  	<select id="UserPhoneMoney" parameterType="java.lang.Integer" resultType="com.zhita.Model.RechargeInfo">
  		select * from recharge_info where xiaodai_userid = #{userId} limit 0,1
  	</select>
  	
  	
  	
  	<select id="MinJUser" parameterType="com.zhita.Model.User" resultType="com.zhita.Model.SensitiveInfoNewupa">
  	select DISTINCT s.*,
  	c.id id1,c.sentivid,c.name,
	ct.id id2,ct.crlid,ct.called_count,ct.calling_count,ct.phone_number phonenumber,
	cs.id id3,cs.crtwoid,cs.total_call_count,cs.total_call_duration_time
	from sensitive_info_newupa s left join call_record_list_infos c on s.id=c.sentivid
	left join call_record_list_item_infos_two ct on c.id=ct.crlid
	left join call_statistics cs on ct.id=cs.crtwoid 
	where s.xiaodai_userid=#{userId} and s.item_name = #{name}
  	</select>
  	
  	
  	<select id="SelectUserPhones" parameterType="java.lang.Integer" resultType="java.lang.String">
  		select phone_number from emergency_contact_info where xiaodai_userid = #{userId}
  	</select>
  	
  	
  	
  	<select id="TongHUser" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select call_count from communication_time_bucket_info where xiaodai_userid = #{userId} and time_bucket = "0:00-3:00" limit 0,1
  	</select>
  	
  	
  	
  	<select id="ChuxTimeDay" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select sum(duration_days) from travel_info where xiaodai_userid = #{userId}
  	</select>
  	
  	
  	<select id="UserphoneRes" parameterType="java.lang.String" resultType="java.lang.String">
  		select phoneRes from configuration where phone = #{phone}
  	</select>
  	
  	
  	<select id="PhoneUser" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select count(id) from maillist where userId = #{userId} and name is null
  	</select>
  	
  	
  	
  	<select id="PhoneCountData" parameterType="java.util.Map" resultType="java.lang.Integer">
  		select count(id) from callrecords where userid = #{userId} and type = #{type} group by number 
  	</select>
  	
  	
  	
  	<select id="PhoneCUser" parameterType="java.util.Map" resultType="java.lang.Integer">
  		select count(id) from callrecords where userid = #{userId} and type = #{type} 
  	</select>
  	
  	
  	
  	<select id="PhoneCUserData" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select count(id) from callrecords where userid = #{userId}
  	</select>
  	
  	
  	
  	<select id="SelectPhone" parameterType="java.lang.Integer" resultType="java.lang.String">
  		select number from callrecords where userid = #{userId} limit 0,3
  	</select>
  	
  	
  	
  	<select id="SelectPhoneTop" parameterType="java.lang.Integer" resultType="java.lang.String">
  		select number from callrecords where userid = #{userId} limit 0,10
  	</select>
  	
  	
  	
  	
  	<select id="SelectUserCou" parameterType="java.util.Map" resultType="java.lang.Integer">
  		select count(id) from maillist 
  		<where>
  		userId = #{userId} 
  		and phone in
  		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
  			#{item}
  		</foreach>
  		</where>
  	</select>
  	
  	
  	
  	<select id="SelectUserCoulX" parameterType="java.util.Map" resultType="java.lang.Integer">
  		select count(id) from emergency_contact_info 
  		<where>
  		xiaodai_userid = #{userId} 
  		and phone_number in
  		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
  			#{item}
  		</foreach>
  		</where>
  	</select>
  	
  	
  	<select id="SelectUserCoul" parameterType="java.util.Map" resultType="java.lang.Integer">
  		select count(id) from maillist 
  		<where>
  		userId = #{userId} 
  		and phone in
  		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
  			#{item}
  		</foreach>
  		</where>
  		group by phone
  	</select>
  	
  	
  	<select id="SelectUserCoulA" parameterType="java.util.Map" resultType="java.lang.Integer">
  		select count(id) from emergency_contact_info 
  		<where>
  		xiaodai_userid = #{userId} 
  		and phone_number in
  		<foreach collection="list" item="item" index="index" open="(" separator="," close=")">
  			#{item}
  		</foreach>
  		</where>
  		group by phone_number
  	</select>
  	
  	
  	
  	<select id="User12560Count" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select count(id) from callrecords where number = #{phone} and userId = #{userId}
  	</select>
  	
  	
  	
  	<select id="UserHR" parameterType="java.util.Map" resultType="java.lang.Integer">
  		select number from callrecords where userid = #{userId} and type = #{type} group by number
  	</select>
  	
  	
  	
  	<select id="SelectUserMaillst" parameterType="java.util.Map" resultType="java.lang.Integer">
  		select count(id) from maillist where
  		 phone in
  		 <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
  			#{item}
  		</foreach>
  		and userId = #{userId}
  	</select>
  	
  	
  	
  	<select id="UserOne" parameterType="java.util.Map" resultType="java.lang.Integer">
  		select count(id) from callrecords where userId = #{userId} and left(number,3) = #{type} 
  	</select>
  	
  	
  	
  	<select id="UserAllPhone" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select count(id) from callrecords where userId = #{userId} group by number
  	</select>
  	
  	
  	
  	<select id="SelectUserApp" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select count(id) from userapp where userId = #{userId}
  	</select>
  	
  	
  	
  	<select id="OperatorID" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select id from operator_info where xiaodai_userid = #{userId} limit 0,1
  	</select>
  	
  	
  	
  	<select id="MailstNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
		select count(id) from maillist where userId = #{userId}
  	</select>
  	
  	
  	
  	
  	<select id="ConfigUser" parameterType="java.lang.String" resultType="java.lang.Integer">
  		select id from configuration where phone = #{phone}
  	</select>
  	
  	
  	
  	<select id="UserTonghua" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  		select count(id) from callrecords where userid = #{userId}
  	</select>
</mapper>