<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.Dao.RulelistMapper" >
  <resultMap id="BaseResultMap" type="com.zhita.Model.Rulelist" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="typeid" property="typeid" jdbcType="INTEGER" />
    <result column="rulelist" property="rulelist" jdbcType="VARCHAR" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="symbol" property="symbol" jdbcType="VARCHAR" />
    <result column="thresholdvalue" property="thresholdValue" jdbcType="VARCHAR" />
    <result column="value_at_risk" property="value_at_risk" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="deleted" property="deleted" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    r.id,  r.typeid,  r.rulelist,  r.keyword,  r.symbol,  r.thresholdvalue,  r.value_at_risk,  r.tablename, r.status, r.deleted,
    rt.id, rt.type
  </sql>
  <!-- 后台管理      根据id查询当前对象 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rulelist r inner join rulelist_type rt on r.typeid=rt.id where r.deleted=0 and r.id=#{arg0}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rulelist
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <!-- 后台管理     添加功能（先查询出规则分类表所有信息） -->
  <select id="queryAllType" resultType="com.zhita.Model.RulelistType">
  	 select id,type,deleted from rulelist_type where deleted=0
  </select>
  <!-- 后台管理    添加功能  -->
  <insert id="insert" parameterType="com.zhita.Model.Rulelist" >
    insert into rulelist (typeid, rulelist, 
      keyword, symbol, thresholdvalue, value_at_risk,tablename)
    values (#{typeid,jdbcType=INTEGER}, #{rulelist,jdbcType=VARCHAR}, 
      #{keyword,jdbcType=VARCHAR}, #{symbol,jdbcType=VARCHAR}, #{thresholdValue,jdbcType=VARCHAR}, 
      #{value_at_risk,jdbcType=VARCHAR},#{tablename,jdbcType=VARCHAR})
  </insert>
  <!-- 后台管理     编辑功能 -->
  <update id="updateByPrimaryKey" parameterType="com.zhita.Model.Rulelist" >
    update rulelist
    set typeid = #{typeid,jdbcType=INTEGER},
      rulelist = #{rulelist,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      thresholdvalue = #{thresholdValue,jdbcType=VARCHAR},
      value_at_risk = #{value_at_risk,jdbcType=VARCHAR},
      tablename = #{tablename,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--后台管理       列表查询 数量 -->
  <select id="queryAllCount" resultType="java.lang.Integer">
  	select count(*)
    from rulelist r inner join rulelist_type rt on r.typeid=rt.id where r.deleted=0 
  </select>
  <!--后台管理       列表查询  -->
  <select id="queryAll" parameterType="java.lang.Integer" resultType="com.zhita.Model.Rulelist">
  	select 
    <include refid="Base_Column_List" />
    from rulelist r inner join rulelist_type rt on r.typeid=rt.id where r.deleted=0 limit #{page,jdbcType=INTEGER},#{pagesize,jdbcType=INTEGER}
  </select>
  <!-- 后台管理    更新假删除状态 -->
  <update id="upaFalseDel" parameterType="java.lang.Integer">
  	update rulelist set deleted=1 where id=#{arg0}
  </update>
  <!-- 后台管理     查询该用户最新一条数据 -->
  <select id="queryuser" parameterType="java.lang.Integer" resultType="com.zhita.Model.User">
  	select * from user where userid=#{arg0} order by authentication_time desc limit 1
  </select>
  <!-- 后台管理      查询该用户的命中情况 -->
  <select id="queryifhit" resultType="com.zhita.Model.Rulelist_detail">
  	select rd.id,rd.rtid,rd.userid,rd.authentication_time,sum(value_at_risk) sum,t.type from rulelist_detail rd  inner join rulelist_type t on rd.rtid=t.id 
	where rd.userid=#{userid,jdbcType=INTEGER} and rd.authentication_time=#{authentime,jdbcType=VARCHAR} group by rd.rtid
  </select>
  <!-- 后台管理      查询该用户没有命中的规则分类 -->
  <select id="queryType" resultType="com.zhita.Model.Rulelist_detail">
  	select type from rulelist_type where type not in(select t.type from rulelist_detail rd  inner join rulelist_type t on rd.rtid=t.id 
	where rd.userid=#{userid,jdbcType=INTEGER} and rd.authentication_time=#{authentime,jdbcType=VARCHAR} group by rd.rtid)
  </select>
  <!-- 后台管理      查询该条规则被命中的用户集合 -->
  <select id="queryuserhit" parameterType="java.lang.Integer" resultType="com.zhita.Model.Rulelist_detail">
  	select t.* from 
	(select rd.*,u.username,u.fraction,r.thresholdvalue from rulelist_detail rd,user u ,rulelist r  
	where rid=#{arg0} and rd.userid=u.userid and rd.authentication_time=u.authentication_time and rd.rid=r.id order by rd.authentication_time desc) t  
	group by t.userid
  </select>
  <!-- 后台管理        查询用户表所有数据 -->
  <select id="queryAllUser" resultType="com.zhita.Model.User">
  	select * from user
  </select>
  <!-- 后台管理        查询该用户的规则命中情况 -->
  <select id="queryhit" resultType="com.zhita.Model.Rulelist_detail">
  	select rd.id,rd.rtid,rd.rid,rd.value_at_risk,rd.authentication_time,rd.userid,rt.type,r.rulelist,r.thresholdvalue,u.username,u.fraction 
	from rulelist_detail rd,rulelist_type rt,rulelist r,user u where rd.rtid=rt.id and rd.rid=r.id and rd.userid=u.userid and rd.authentication_time=u.authentication_time
	and rd.userid=#{userid,jdbcType=INTEGER} and rd.authentication_time=#{authentime,jdbcType=VARCHAR}
  </select>
</mapper>