<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhita.Dao.TravelInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zhita.Model.TravelInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="xiaodai_userid" property="xiaodaiUserid" jdbcType="INTEGER" />
    <result column="during_type" property="duringType" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="return_time" property="returnTime" jdbcType="VARCHAR" />
    <result column="departure_place" property="departurePlace" jdbcType="VARCHAR" />
    <result column="destination_place" property="destinationPlace" jdbcType="VARCHAR" />
    <result column="duration_days" property="durationDays" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, xiaodai_userid, during_type, start_time, return_time, departure_place, destination_place, 
    duration_days
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from travel_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from travel_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhita.Model.TravelInfo" >
    insert into travel_info (id, xiaodai_userid, during_type, 
      start_time, return_time, departure_place, 
      destination_place, duration_days)
    values (#{id,jdbcType=INTEGER}, #{xiaodaiUserid,jdbcType=INTEGER}, #{duringType,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=VARCHAR}, #{returnTime,jdbcType=VARCHAR}, #{departurePlace,jdbcType=VARCHAR}, 
      #{destinationPlace,jdbcType=VARCHAR}, #{durationDays,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zhita.Model.TravelInfo" >
    update travel_info
    set xiaodai_userid = #{xiaodaiUserid,jdbcType=INTEGER},
      during_type = #{duringType,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=VARCHAR},
      return_time = #{returnTime,jdbcType=VARCHAR},
      departure_place = #{departurePlace,jdbcType=VARCHAR},
      destination_place = #{destinationPlace,jdbcType=VARCHAR},
      duration_days = #{durationDays,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 列表查询          出行分析表 -->
  <select id="queryAllCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  	select count(*) from travel_info
    where xiaodai_userid=#{arg0}
  </select>
  
  <!-- 列表查询          出行分析表 -->
  <select id="queryAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from travel_info
    where xiaodai_userid=#{userid,jdbcType=INTEGER} limit #{page,jdbcType=INTEGER},#{pagesize,jdbcType=INTEGER}
  </select>
  
  
                                     <insert id="settravelInfo" parameterType="java.util.Map"> 
 insert into travel_info (xiaodai_userid,during_type,start_time,return_time,departure_place,destination_place,duration_days)
 values(#{userId},
        #{during_type},
        #{start_time},
        #{return_time},
        #{departure_place},
        #{destination_place},
        #{duration_days})
 </insert>
  
</mapper>